:root {
    --first: white;
    --secondary: black;
}

.displayTime {
    color: var(--secondary);
    font-size: 5vmin;
    user-select: none;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
}